@font-face {
  font-family: 'FloriselScript';
  src: url('Floriselscript.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ZTNeueRalewe';
  src: url('ZTNeueRalewe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}